<div class="cards">
  <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
          <a href="<%= cocktail_path(cocktail.id) %>" style="text-decoration: none"><%= cocktail.name %></a>
        </div>
  <% end %>
</div>



